<div class="paginator-container">
  <app-icon-only-button
    [icon_path]="'assets/icons/arrow-left.svg'"
    [disabled]="currentValue == dots[0]"
    (buttonClicked)="onSetPrevious()"
  ></app-icon-only-button>
  <div
    class="item"
    (click)="onSetValue(value)"
    [ngClass]="{ active: value === currentValue }"
    *ngFor="let value of dots"
  ></div>

  <app-icon-only-button
    [icon_path]="'assets/icons/arrow-right.svg'"
    [disabled]="currentValue == dots[dots.length - 1]"
    (buttonClicked)="onSetNext()"
  ></app-icon-only-button>
</div>
