@use "../../../../../assets/styles/" as *;

.price-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    height: 35px;
}

.price-container div {
    display: inline-flex;
    align-items: center;
}

.annual-price{
    @include text-caption;
    color: $greyscale-dark-grey;
    margin: 0 6px;
}