@use '../../../../../assets/styles' as *;

button{
    white-space: nowrap;
    min-width: 150px;
    height: 40px;
    @include button-label;
    outline: none;
    background-color: $primary-turquoise;
    color: $greyscale-white;
    cursor: pointer;
    border: 2px solid $primary-turquoise;
    font-weight: 900 !important;

}
button:hover{
    background-color: $primary-turquoise-dark;
}
button:focus{
    background-color: $primary-turquoise-dark;
    border: 2px solid $accent-orange;
}
span{
    padding: 6px 0  6px 6px ;
}
div{
    @include flex-everything-centered;

    margin: 0 24px;
}
img{
    width: 24px;
    height: 24px;
}