<div [ngStyle]="{ width: width }" class="filter-container">
  <div class="filter-header" (click)="handleOpenClose()">
    <p>{{ title }}</p>
    <img
      [ngClass]="{ fliped: isOpen }"
      [src]="'assets/icons/arrow-down.svg'"
      alt="arrow-icon"
    />
  </div>
  <div [ngClass]="{ open: isOpen, closed: !isOpen }" class="filter-section">
    <div class="item" *ngFor="let data of datas">
      <app-custom-checkbox-input
        [data]="data"
        [id]="data + '_input_checkbox'"
        [value]="selectedValue == data"
        (clicked)="onCheckboxClicked($event)"
      ></app-custom-checkbox-input>
    </div>
  </div>
</div>
