<div [ngStyle]="{ width: width }" class="filter-container">
  <div class="filter-header" (click)="handleOpenClose()">
    <p>{{ title }}</p>
    <img
      [ngClass]="{ fliped: isOpen }"
      [src]="'assets/icons/arrow-down.svg'"
      alt="arrow-icon"
    />
  </div>
  <form
    [formGroup]="alcoholControlGroup"
    [ngClass]="{ open: isOpen, closed: !isOpen }"
    (ngSubmit)="onSubmit()"
  >
    <div class="filter-section">
      <div class="item">
        <app-custom-text-input
          [type]="'number'"
          [width]="'92px'"
          [control]="greaterAbvControl"
          [placeholder]="lesserPlaceHolder"
        ></app-custom-text-input>
      </div>
      <div class="item">
        <app-custom-text-input
          [type]="'number'"
          [width]="'92px'"
          [control]="lesserAbvControl"
          [placeholder]="greaterPlaceHolder"
        ></app-custom-text-input>
      </div>
      <div class="item">
        <app-text-button
          [width]="'85px '"
          [text]="'Apply'"
          [type]="'submit'"
        ></app-text-button>
      </div>
    </div>
    <div class="error-container" *ngIf="alcoholControlGroup.invalid">
      <p *ngIf="alcoholControlGroup.hasError('invalid_intputs')">
        The From value is greater than the Until value
      </p>
    </div>
  </form>
</div>
