@use '../../../../../assets/styles' as *;

a{
    white-space: nowrap;
    text-decoration: none;
    img{
        width: 24px;
        height: 24px;
        filter: invert(45%) sepia(96%) saturate(373%) hue-rotate(139deg) brightness(88%) contrast(99%);
    }
    p{
        @include text-caption-small;
        text-align: center

    }
    @include inline-flex-everything-centered;
    flex-direction: column;
    color: $greyscale-black;
    background-color: $greyscale-white;
    cursor: pointer;
    min-width: 64px;
    border: 2px solid $greyscale-white;
    outline: none;
}

a:hover {
    color: $primary-turquoise-dark;

}
a:focus{
    color: $primary-turquoise-dark;
    border: 2px solid $accent-orange;
}
a:active{
    color: $primary-turquoise-dark;
    border: 2px solid $greyscale-white;
}