<div class="card-container">
  <div class="product-header">
    <div class="badges-container">
      <div app-skelton-item height="100%" width="100%"></div>

      <!-- <div class="skelton-item badge-item"></div> -->
    </div>
    <div class="buttons-container">
      <div app-skelton-item height="100%" width="100%"></div>
    </div>
  </div>
  <div class="product-main">
    <div class="image-container">
      <div app-skelton-item></div>
    </div>
    <div class="titles-container">
      <div width="35%" height="15px" app-skelton-item></div>
      <div width="70%" height="25px" app-skelton-item></div>
      <div width="50%" height="20px" app-skelton-item></div>
    </div>
    <div class="price-container">
      <div width="30%" height="30px" app-skelton-item></div>
      <div width="45%" height="15px" app-skelton-item></div>
    </div>
  </div>
  <div class="product-footer">
    <div class="input-container">
      <div app-skelton-item></div>
    </div>
    <div class="button-container">
      <div app-skelton-item></div>
    </div>
  </div>
</div>
