@use '../../../../../assets/styles/' as *;

.cart-item-container{
    width: 98%;
    margin:  auto;
    border-bottom: 1px solid $greyscale-grey;
}

.items-row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    
    .product-container{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        grid-column: 1 / 4;
        padding-top: 15px;
        .img-container{
            height: 62px;
            @include flex-everything-centered;
            min-width: 85px;
            position: relative;
            margin-right: 30px;
            img{
                height: 85%
            }
            .button-container{
                position: absolute;
                right: -10px;
                top: -10px
            }
        }
        .product-details{
            .product-name{
                color: $primary-turquoise;
                @include text-semi-bold;
            }
            
        }
        
    }

    .contributor-container{
        @include flex-everything-centered;

        grid-column: 4 / 6;
    }
    .price-container{
        @include flex-everything-centered;
        grid-column: 6 / 8;

    }
    .quantity-container{
        @include flex-everything-centered;

        grid-column: 8 / 11;
    }
    .subtotal-container{
        @include flex-everything-centered;

        grid-column: 11 / 13;
    }
}
.price-text{
    @include text-bold;
    color: $greyscale-black;
}
.vat-text{
    @include text-caption-small;
    color: $greyscale-dark-grey;
}
.delete-icon-row{
        width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    img{

    }
}

.detail-item-text{
    color: $greyscale-dark-grey;
    @include text-caption-small;
}