<div class="cart-item-container">
  <div class="items-row">
    <div class="product-container">
      <div class="img-container">
        <div class="button-container">
          <app-icon-only-button
            (buttonClicked)="addToWhislist()"
            [icon_path]="'assets/icons/heart.svg'"
            [iconClass]="favorited ? 'active_favorite_icon' : 'favorite_icon'"
          ></app-icon-only-button>
        </div>
        <img [src]="cartItem.item.image_url" alt="cart item image" />
      </div>
      <div class="product-details">
        <p class="product-name">
          {{ cartItem.item.name }}
        </p>
        <p class="detail-item-text">Product-No.: {{ cartItem.item.id }}</p>
      </div>
    </div>
    <div class="contributor-container">
      <p class="detail-item-text">{{ cartItem.item.contributed_by }}</p>
    </div>
    <div class="price-container">
      <div>
        <div class="prices">
          <p class="price-text">
            {{
              (cartItem.item.price * (100 - cartItem.item.onSale)) / 100
                | currency: "EUR"
            }}
          </p>
          <p class="annual-price" *ngIf="cartItem.item.onSale">
            {{ cartItem.item.price | currency: "EUR" }}
          </p>
        </div>

        <p class="vat-text">Excl. VAT</p>
      </div>
    </div>
    <div class="quantity-container">
      <app-custom-spinner-input
        [control]="quantity"
        (decrementEmit)="onDecrementClick()"
        (incrementEmit)="onIncrementClick()"
        (changeEmit)="onQuantityChange()"
      ></app-custom-spinner-input>
    </div>
    <div class="subtotal-container">
      <div *ngIf="cartItem.item.price && cartItem.quantity">
        <div class="prices">
          <p class="price-text">
            {{
              ((cartItem.item.price * (100 - cartItem.item.onSale)) / 100) *
                cartItem.quantity | currency: "EUR"
            }}
          </p>
          <p class="annual-price" *ngIf="cartItem.item.onSale">
            {{ cartItem.item.price * cartItem.quantity | currency: "EUR" }}
          </p>
        </div>
        <p class="vat-text">Excl. VAT</p>
      </div>
    </div>
  </div>
  <div class="delete-icon-row">
    <app-icon-only-button
      (buttonClicked)="deleteItem()"
      [icon_path]="'assets/icons/delete.svg'"
    >
    </app-icon-only-button>
  </div>
</div>
