<div *ngIf="beer$ | async as beer; else elseBlock">
  <app-notification-bar></app-notification-bar>
  <div class="breadcrumbs-container">
    <app-breadcrumbs [linkTo]="['/']"></app-breadcrumbs>
    <app-breadcrumbs
      [linkTo]="['/beer']"
      [text]="'All Beers'"
    ></app-breadcrumbs>
    <app-breadcrumbs
      [linkTo]="['/beer', beer.id.toString()]"
      [text]="beer.name"
      [showIcon]="false"
    ></app-breadcrumbs>
  </div>
  <div class="item-container">
    <div class="details-container">
      <div class="image-container">
        <div class="button-container">
          <app-icon-only-button></app-icon-only-button>

          <app-icon-only-button
            (buttonClicked)="onHandleFavorite(beer.id)"
            [icon_path]="'assets/icons/heart.svg'"
            [iconClass]="
              isInWhislist(beer.id) ? 'active_favorite_icon' : 'favorite_icon'
            "
          ></app-icon-only-button>
        </div>
        <img [src]="beer.image_url" alt="beer_image" />
      </div>
      <section class="details">
        <div class="detail-header">
          <div>
            <h1>{{ beer.name }}</h1>
            <p>{{ beer.tagline }}</p>
          </div>
          <app-icon-only-button
            [icon_path]="'assets/icons/share.svg'"
          ></app-icon-only-button>
        </div>
        <div class="detail-main">
          <div class="detail-tagline">
            {{ beer.description }}
          </div>
          <div class="detail-price">
            <app-price-card
              [price]="beer.price"
              [onSale]="beer.onSale"
            ></app-price-card>
            <p class="shiping-cost">
              Plus <a class="link" [routerLink]="['']">Shipping costs</a>
            </p>
          </div>
        </div>
      </section>
    </div>
    <app-add-to-cart-card
      *ngIf="beer.price"
      [price]="beer.price"
      [onSale]="beer.onSale"
      (addToCart)="handleAddToCart(beer, $event)"
    ></app-add-to-cart-card>
  </div>
  <div class="facts-container">
    <h2>Beer Facts</h2>
    <div class="item">
      <div class="item_name">Ingredients</div>
      <div class="item_content">{{ renderIngredients(beer.ingredients) }}</div>
    </div>
    <div class="item">
      <div class="item_name">Brewery tips</div>
      <div class="item_content">{{ beer.brewers_tips }}</div>
    </div>
    <div class="item">
      <div class="item_name">ABV (% ALCOHOL)</div>
      <div class="item_content">{{ beer.abv }}</div>
    </div>
    <div class="item">
      <div class="item_name">First Brewed</div>
      <div class="item_content">{{ beer.first_brewed }}</div>
    </div>
  </div>
  <div
    class="customers-also-bought-container"
    *ngIf="customersAlsoBought$ | async as customersAlsoBought"
  >
    <p class="title">Customers Also Bought</p>
    <app-item-carousel [items]="customersAlsoBought"></app-item-carousel>
  </div>
</div>
<ng-template #elseBlock>
  <!-- skelton 💀 while loading if didnt find item with id it redirects  -->
  <app-beer-detail-skelton></app-beer-detail-skelton>
</ng-template>
