<div class="cart">
  <h1>Shopping Cart</h1>
  <div class="cart-items-container">
    <div class="table-header">
      <div class="product-header">Product</div>
      <div class="contributor-header">Contributor</div>
      <div class="price-header">Price</div>
      <div class="quantity-header">Quantity</div>
      <div class="subtotal-header">Subtotal</div>
    </div>
    <app-cart-item
      *ngFor="let cartItem of cartItems$ | async"
      [cartItem]="cartItem"
      (increaseQuantity)="onIncrementQuantity($event)"
      (decreaseQuantity)="onDecrementQuantity($event)"
      (removeItem)="onRemoveItem(cartItem.item.id)"
      (whislistEmitter)="onWhislistEmitter(cartItem.item.id)"
      [favorited]="isInWhislist(cartItem.item.id)"
    ></app-cart-item>
  </div>
  <div class="you-may-also-like-container">
    <h3>You might also like...</h3>
    <app-item-carousel
      *ngIf="youMightAlsoLikeBeers$ | async as items"
      [items]="items"
      [title]="'Customers also bought'"
    ></app-item-carousel>
  </div>
  <ng-container *ngIf="recentItems$ | async as items">
    <div *ngIf="items.length > 0">
      <h3>Recently viewed items</h3>
      <div class="recently-viewed-items">
        <div *ngFor="let item of items" class="item">
          <app-search-item-card [beer]="item"></app-search-item-card>
        </div>
      </div>
    </div>
  </ng-container>
</div>
<div class="checkout-card-container">
  <app-checkout-card
    [freeShippingFrom]="getFreeShippingFrom()"
    [shipping]="getShippingCost()"
    [vat]="getVatCost()"
    [itemsValue]="getItemsCost()"
    [total]="getTotalCost()"
  ></app-checkout-card>
</div>
