@use "../../../../../assets/styles/" as *;
.notification-bar-container{
    grid-column: 1/13;
   
}
.empty-cart-container{
    min-height: 50vh;
    grid-column: 1/13;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    h3{

    }
}
:host{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.cart{
    grid-column: 1/13;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}
.checkout-card-container{
    grid-column: 10/13;
    width: 100%;
}
h1{
    margin: 16px 0;
    grid-column: 1/13;
}
.hooks{
    grid-column: 1/13;
width: 100%;
}
.cart-items-container{
    width: 97%;
    grid-column: 1/10;
}

.table-header{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12, 1fr);
    background-color: $greyscale-very-light-grey;
    @include text-bold;
    padding: 5px ;
    gap: 10px;
    .product-header{

        display: flex;
        align-items: center;
        grid-column: 1 / 4;
    }
    .contributor-header{
        display: flex;
        align-items: center;
        grid-column: 4 / 6;
    }
    .price-header{
        display: flex;
        align-items: center;
        grid-column: 6 / 8;
    }
    .quantity-header{
        display: flex;
        align-items: center;
        grid-column: 8 / 11;
    }
    .subtotal-header{
        display: flex;
        align-items: center;
        grid-column: 11 / 13;
    }
}
.recently-viewed-items{
    width: 100%;
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    margin: 16px auto;
    .item{
        display: inline-block;
        width: 30%;
    }
}
h3{
    padding: 16px 0;
}