<div class="item-container">
  <div class="breadcrumb-container">
    <div app-skelton-item width="25%" height="25px"></div>
  </div>
  <div class="details-container">
    <div app-skelton-item class="image-container"></div>
    <div class="details">
      <div class="detail-header">
        <div class="name-tagline">
          <div
            height="35px"
            width="70%"
            app-skelton-item
            class="name-container"
          ></div>
          <div
            height="20px"
            width="40%"
            app-skelton-item
            class="tagline-container"
          ></div>
        </div>
        <div class="icon-container">
          <div width="40px" height="40px" app-skelton-item></div>
        </div>
      </div>
      <div class="detail-main">
        <div height="95px" app-skelton-item class="detail-tagline"></div>
        <div
          height="50px"
          width="30%"
          app-skelton-item
          class="detail-price"
        ></div>
      </div>
    </div>
  </div>
  <div app-skelton-item class="add-to-card-container"></div>
</div>
<div class="facts-container">
  <div height="45px" width="35%" app-skelton-item></div>
  <div class="item">
    <div height="20px" app-skelton-item></div>
    <div
      height="45px"
      width="80%"
      app-skelton-item
      class="tagline-container"
    ></div>
  </div>
  <div class="item">
    <div height="20px" app-skelton-item></div>
    <div
      height="45px"
      width="80%"
      app-skelton-item
      class="tagline-container"
    ></div>
  </div>
  <div class="item">
    <div height="20px" app-skelton-item></div>
    <div
      height="45px"
      width="80%"
      app-skelton-item
      class="tagline-container"
    ></div>
  </div>
  <div class="item">
    <div height="20px" app-skelton-item></div>
    <div
      height="45px"
      width="80%"
      app-skelton-item
      class="tagline-container"
    ></div>
  </div>
</div>
