<div class="search-page">
  <h1>All Beers</h1>
  <div class="filters-container">
    <app-search-filter-container
      [datas]="hops"
      [title]="'Hops'"
      [width]="'100%'"
      [selectedValue]="beerSearchParameters.hops"
      (checkboxClicked)="onHandleHops($event)"
    >
    </app-search-filter-container>
    <app-search-filter-container
      [datas]="malts"
      [title]="'Malts'"
      [width]="'100%'"
      [selectedValue]="beerSearchParameters.malts"
      (checkboxClicked)="onHandleMalts($event)"
    ></app-search-filter-container>
    <app-search-filter-alcohol-range
      (setAlcoholRange)="onHandleAlcoholRange($event)"
      [abv_lt]="beerSearchParameters.abv_lt"
      [abv_gt]="beerSearchParameters.abv_gt"
    >
    </app-search-filter-alcohol-range>
    <div class="button-container">
      <app-secondary-button
        (buttonClicked)="onResetToDefault()"
        [text]="'Reset to default'"
      ></app-secondary-button>
    </div>
  </div>

  <section class="main-content">
    <div class="active-filters-container">
      <p class="text">Active Filters</p>
      <div class="active-filters">
        <app-filter-tag
          *ngIf="beerSearchParameters.hops as hops"
          class="item"
          [text]="hops"
          (iconClicked)="onHandleHops(hops)"
        ></app-filter-tag>
        <app-filter-tag
          *ngIf="beerSearchParameters.malts as malts"
          class="item"
          [text]="malts"
          (iconClicked)="onHandleMalts(malts)"
        ></app-filter-tag>
      </div>
    </div>

    <div
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="1500"
      (scrolled)="onScroll()"
      [infiniteScrollDisabled]="!scrollIsActive$.getValue()"
      class="search-items-container"
    >
      <div *ngFor="let beer of beers$ | async" class="search-item">
        <app-search-item-card
          (cartEmit)="onHandleCart($event)"
          (favoriteEmit)="onHandleWhislist($event)"
          [beer]="beer"
          [favorited]="isInWhislist(beer.id)"
        ></app-search-item-card>
      </div>
      <div class="loading-items" *ngIf="currentlyFetching$.getValue()">
        <div class="search-item" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
          <app-search-item-card-skelton></app-search-item-card-skelton>
        </div>
      </div>
      <div class="end-message" *ngIf="!scrollIsActive$.getValue()">
        <h4>Looks Like we are out of this kind of beers</h4>
      </div>
    </div>
  </section>
</div>
