<div class="card-container">
  <div class="product-header">
    <div class="icons-badges-container">
      <div class="badges">
        <app-sale-badge *ngIf="beer.onSale"></app-sale-badge>
        <ng-container *ngFor="let badge of beer.badges">
          <ng-container [ngSwitch]="badge.name">
            <app-new-badge *ngSwitchCase="'New'"></app-new-badge>
            <app-sold-out-badge *ngSwitchCase="'Sold out'"></app-sold-out-badge>
            <app-product-of-the-week-badge
              *ngSwitchCase="'Product of the week'"
            ></app-product-of-the-week-badge>
          </ng-container>
        </ng-container>
      </div>
      <div class="icons">
        <app-icon-only-button></app-icon-only-button>
        <app-icon-only-button
          (buttonClicked)="onHearthClick()"
          [icon_path]="'assets/icons/heart.svg'"
          [iconClass]="favorited ? 'active_favorite_icon' : 'favorite_icon'"
        ></app-icon-only-button>
      </div>
    </div>
    <a [routerLink]="['/beer', beer.id]" class="image-container">
      <img [src]="beer.image_url" alt="" />
    </a>
  </div>
  <div class="product-main">
    <div class="discription-container">
      <p class="tagline-text">{{ beer.contributed_by }}</p>
      <a [routerLink]="['/beer', beer.id]">
        <h5 class="name-text">{{ beer.name }}</h5>
      </a>
      <p class="tagline-text">{{ beer.tagline }}</p>
    </div>
  </div>
  <div class="product-footer">
    <app-price-card
      [price]="beer.price"
      [onSale]="beer.onSale"
    ></app-price-card>
    <div class="content-container">
      <ng-container *ngIf="beer.content">
        <span>Content</span>
        <span> {{ beer.content }} Liter</span>
      </ng-container>
    </div>
    <div class="add-to-cart-container">
      <ng-container *ngIf="beer.price">
        <app-custom-text-input
          [control]="quantityControl"
          [type]="'number'"
          [width]="'42px'"
          [type]="'number'"
          (onInputHandler)="onQuantityChange($event)"
        ></app-custom-text-input>
        <app-primary-button
          (buttonClicked)="onCartClick()"
        ></app-primary-button>
      </ng-container>
    </div>
  </div>
</div>
