@use '../../../../../assets/styles' as *;

button{
    @include flex-everything-centered;
    height: 40px;

    outline: none;
    cursor: pointer;
    border: 2px solid transparent;
    background-color: transparent;

}

img{
}
button:focus{
    border: 2px solid $accent-orange;
}

