/* You can add global styles to this file, and also import other style files */
@use 'assets/styles/' as *;
body{
    max-width: 1450px;
    padding: 0 20px;
    margin: auto;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $most_cases_font;
    transition: all 0.15s ease;
}

h1{
    font-size: 28px;
    line-height: 36px;
    font-weight: 800;
}
h2{
    font-size: 24px;
    line-height: 32px;
    font-weight: 800;
}
h3{
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
}
h4{
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    text-transform: uppercase;
}
h5{
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
}

p{
    @include text-standard;
}

.link{
    width: fit-content;
    display: inline-block;
    outline: none;
    @include text-caption;
    color: $primary-turquoise-dark;
    border: 2px solid transparent;

    text-decoration: none;
}
.link:hover{
    text-decoration: underline;
}
.link:focus{
    text-decoration: underline;
    border: 2px solid $accent-orange;
}
.hearth_icon{
    mask-image: url("/assets/icons/heart.svg");

}

.icon{
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.default_icon img{
    filter: invert(0%) sepia(84%) saturate(7500%) hue-rotate(328deg) brightness(114%) contrast(114%);
    &:hover{
        filter: invert(45%) sepia(96%) saturate(373%) hue-rotate(139deg) brightness(88%) contrast(99%);
    }
}
.default_icon:disabled img{
    filter: invert(49%) sepia(2%) saturate(614%) hue-rotate(175deg) brightness(100%) contrast(87%);

}
.favorite_icon img{
    filter: invert(0%) sepia(84%) saturate(7500%) hue-rotate(328deg) brightness(114%) contrast(114%);
    &:hover{
        filter: invert(13%) sepia(95%) saturate(6561%) hue-rotate(9deg) brightness(110%) contrast(124%);
    }
    
}
.active_favorite_icon img {
    filter: invert(13%) sepia(95%) saturate(6561%) hue-rotate(9deg) brightness(110%) contrast(124%);
}
.skelton-item{
    width: 100%;
    opacity: 0.4;
    background-color: red;

    animation: skelton-loading 1s linear infinite alternate;
}


@keyframes skelton-loading {
    0% {
        background-color: #eee;
    }
    100% {
        background-color: #ddd;
    }
}